body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.boxscore {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
}

.game-summary {
  width: 100%;
}

.table-footer {
  /* border: 1px solid red; */
}

.footer-cell {
  float: left;
  width: 33%;
}

.team-footer-cell {
  color: white;
}

.team-icon {
  height: 20px;
  width: auto;
  margin-bottom: -2px;
}

.team-player-stats {
  float: left;
  width: 50%;
  padding: 5px;
  padding-top: 25px;
  text-align: left;
}
.all-player-stats {
  width: 80%;
  margin: auto;
}
.stats-table {
}
